

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Contact</h1>
                    <div class="px-2">

                        
                        <form id="contact-form" action="" class="justify-content-center" >
                            <div class="row" style="height: 350px; ">
                            <div class="col-lg-12" >
                            <input style=" width: 310px;" name="con_name" type="text" placeholder="Name *">
                            </div>
                            <div class="col-lg-12 mt--30">
                            <input style=" width: 310px;" name="con_email" type="text" placeholder="Email *">
                            </div>
                            <div class="col-lg-12 mt--30">
                            <input style=" width: 310px;" name="phone" type="text" placeholder="Phone number">
                            </div>
                            <div class="col-lg-12 mt--30">
                            <textarea style=" width: 310px;" name="con_message" placeholder="Your message"></textarea>
                            </div>
                            <div class="col-lg-12 mt--30">
                            <input style="text-align: center;" type="submit" value="Send message">
                            <p class="form-messege">
                    
                            </p>
                            </div>
                            </div>
                            </form>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 


<div  style=" background-color: brown;">
    <div class="card h-100">
      <div class="card-body" style="background-color:whitesmoke;">
   
      <div>
          <div class="modern-service wow move-up" >
              <div class="bkseparator--20"></div>
              <div class="contact-form" style="border: deepskyblue;">
               <div id="contact" style="color: black "  > 
               <p style="text-align: center; font-size: large; font-family: 'Courier New', Courier, monospace;">
                  onlinebook@gmail.com
               </p> 
               <p>
                   
               </p>
               </div>
                   
              
             </div>
          </div>
          </div>
      </div>
    </div>
  </div>




    

  

  
        