<br>
<br>
<br>
<h1>Books Admin</h1>

<div class="container row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-12 col-md-8">.col-12 .col-md-8</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>
      
     
</div>
<div class="col-md-6">
    <a class="btn btn-success" >Proceed to Bill Payment</a>
</div>
</div>

<br>
<div  style=" background-color: brown;">
  <div class="card h-100">
    <div class="card-body" style="background-color:gray;">
    <div>
        <div class="modern-service wow move-up" >
            <div class="bkseparator--20"></div>
            <div class="contact-form" style="border: deepskyblue;">
             <div id="contact" style="color: black "  > 
             <p style="text-align: center; font-size: large; font-family: 'Courier New', Courier, monospace;">
              All Rights Reserved 2020 @Online Book Store
             </p> 
             </div>
           </div>
        </div>
        </div>
    </div>
  </div>
</div>

